<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Forum</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-toolbar color="light">

    <ion-segment color="dark" scrollable [(ngModel)]="section">

      <ion-segment-button value="myTopics">
        <ion-label class="ion-text-center"><h2>My Topics</h2></ion-label>
      </ion-segment-button>

      <ion-segment-button value="allTopics">
        <ion-label class="ion-text-center"><h2>All Topics</h2></ion-label>
      </ion-segment-button>

    </ion-segment>

    <div [ngSwitch]="section">

      <ion-list *ngSwitchCase="'myTopics'">
        <p>My questions will be here</p>
      </ion-list>

      <ion-list *ngSwitchCase="'allTopics'">
        <p>All questions will be here</p>
      </ion-list>
  
    </div>

  </ion-toolbar>

</ion-content>
