<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="goToForum()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-title>All Topics</ion-title>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let topic of topics | async; trackBy: trackById">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label (click)="presentDetailTopic(topic)" class="ion-text-wrap">
              <p>{{topic.question}}</p><br>
            </ion-label>
            <div class="ion-text-end">
              <p>by {{topic.userEmail}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  
</ion-content>
