<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="goToForum()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-title>All Topics</ion-title>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button size="large" class="ion-margin-top" (click)="presentTopicForm(topic)">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>

  <ion-list>
    <ion-item lines="none" *ngFor="let topic of topics | async; trackBy: trackById">
      <ion-card>
        <ion-card-header (click)="presentDetailTopic(topic)" class="ion-text-wrap">
          <ion-card-title>{{topic.question}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              <div class="ion-text-end">
                <p>by {{topic.username}}</p>
                <p>{{topic.createdAt.toDate() | date : 'dd-MM-yyyy HH:mm'}}</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
  
</ion-content>
