<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Be a Tutor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-padding-horizontal ion-padding-top">Would you like to help other students in your school with their assignments?</p>
  <p class="ion-padding-horizontal">This is your opportunity, apply now and help other students.</p>

  <form [formGroup]="contactForm" class="ion-padding" (submit)="submitForm()">

    <ion-item>
      <ion-label class="ion-text-wrap">What subjects would you like to teach?</ion-label>
    </ion-item>
    <ion-item class="myClass">
      <ion-textarea (keyup)="onKeyUp1($event)" rows="7" type="text" formControlName="question1" placeholder="Example: Java, C++, Photoshop"></ion-textarea>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.question1">
        <div class="error-message" *ngIf="contactForm.get('question1').hasError(validation.type) && (contactForm.get('question1').dirty || contactForm.get('question1').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <label class="error-message">{{errorMessage}}</label>
    <span><em>{{350 - numberOfCharacters1}} characters left</em></span>

    <ion-item class="ion-padding-top">
      <ion-label class="ion-text-wrap">Why do you think you could be a good Tutor?</ion-label>
    </ion-item>
    <ion-item class="myClass">
      <ion-textarea (keyup)="onKeyUp2($event)" rows="7" type="text" formControlName="question2" placeholder="Tell us why you would like to help other students and how you wish to do that."></ion-textarea>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.question2">
        <div class="error-message" *ngIf="contactForm.get('question2').hasError(validation.type) && (contactForm.get('question2').dirty || contactForm.get('question2').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <label class="error-message">{{errorMessage}}</label>
    <span><em>{{500 - numberOfCharacters2}} characters left</em></span>

    <ion-item class="ion-padding-top">
      <ion-label class="ion-text-wrap">Tell us a little bit about yourself.</ion-label>
    </ion-item>
    <ion-item class="myClass">
      <ion-textarea (keyup)="onKeyUp3($event)" rows="7" type="text" formControlName="question3" placeholder="Are you studying? Working? What do you do in your free time?"></ion-textarea>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.question3">
        <div class="error-message" *ngIf="contactForm.get('question3').hasError(validation.type) && (contactForm.get('question3').dirty || contactForm.get('question3').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <label class="error-message">{{errorMessage}}</label>
    <span><em>{{500 - numberOfCharacters3}} characters left</em></span>

    <ion-item class="ion-padding-top">
      <ion-button size="large" type="submit" color="success" [disabled]="!contactForm.valid">Submit</ion-button>
    </ion-item>

  </form>

</ion-content>
