<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-title *ngFor="let userProfile of profile | async">{{userProfile.username}}</ion-title>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngFor="let userProfile of profile | async">
    <ion-avatar>
      <img [src]="userProfile.photoURL || 'assets/avatar.png'">
    </ion-avatar>
  </ion-item>

  <ion-item lines="none" *ngFor="let userProfile of profile | async">

    <ion-grid>
      <ion-row>
        <ion-label class="myClass1 ion-text-start">School</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="myClass2 ion-text-start">{{userProfile.schoolName}}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="myClass1 ion-text-start">Course</ion-label>
      </ion-row>
      <ion-row>
        <ion-label class="myClass2 ion-text-start">{{userProfile.courseName}}</ion-label>
      </ion-row>
    </ion-grid>

  </ion-item>

</ion-content>

