<ion-content>

  <ion-slides pager="true" [options]="{pagination: true}" #slides="">

    <ion-slide class="step-one ion-text-center">
      <ion-img src="/assets/Tutorial/logo.png"></ion-img>
      <h1>Welcome to Duo&Focus</h1>
      <p class="ion-text-wrap"></p>
      <ion-button color="dark" (click)="slides.slideNext()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-two ion-text-center">
      <ion-img src="/assets/Tutorial/search.png"></ion-img>
      <h1>Find Tutors</h1>
      <p>We want you to help tutors that can really help!
        That's why our Tutors are from the same school as you!
        They know to get you to focus in your project or assessment!
      </p>
      <ion-button color="dark" (click)="slides.slideNext()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-three ion-text-center">
      <ion-img src="/assets/Tutorial/forum.png" width="200" height="200"></ion-img>
      <h1>Post in the Forum</h1>
      <p>Ask questions in our Forum!
        All students can see and help you with them!
      </p>
      <ion-button (click)="finish()">Sounds Awesome</ion-button>
    </ion-slide>

  </ion-slides>

</ion-content>