ion-content{
    --ion-background-color: var(--ion-color-myPrimaryColor);
  }

ion-slide{
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

ion-img{
    max-width: 50vw;
    max-height: 50vh;
    overflow: hidden;
}

p{
    padding: 1em;
    text-align: center;
}

.step-one{
    background: var(--ion-color-myPrimaryColor);
    color: var(--ion-color-primary-constrast);
    h1{
        color: var(--ion-color-Contrast);
    }
    p{
        color: white;
    }
}

.step-two{
    background: var(--ion-color-success);
    h1{
        color: var(--ion-color-Contrast);
    }
    p{
        color: white;
    }
}

.step-three{
    background: red;
    h1{
        color: var(--ion-color-Contrast);
    }
    p{
        color: white;
    }
}