<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Student Chats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item lines="none" *ngFor="let chat of chats | async">
      <ion-card>
        <ion-card-header class="ion-text-wrap">
          <ion-row class="ion-align-items-center">
            <ion-col size="10">
              <ion-card-title>{{chat.createdAt.toDate() | date:'dd MMMM yyyy HH:mm'}}</ion-card-title>
            </ion-col>
            <ion-col size="2" class="ion-align-items-end">
              <ion-button color="danger" (click)="deleteChat(chat)">
                <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content>
          <strong>Delete at: </strong>
          <p>{{chat.finishAt.toDate() | date:'dd MMMM yyyy HH:mm'}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>