ion-segment {
  padding: 5px;
}

ion-content{
  --ion-background-color: var(--ion-color-myPrimaryColor);
}

.placeholder-profile {
  color: black;
}

.ion-text-start{
  color: white;
}

.ion-text-start .ion-padding{
  color: red;
}