<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item *ngFor="let user of user | async">
    <ion-avatar>
      <img [src]="user.photoURL || 'assets/avatar.png'">
    </ion-avatar>
  </ion-item>

  <ion-button (click)="uploadPicture.openImagePicker()" color="secondary" expand="full">Upload a Picture</ion-button>
  
  <ion-list>

    <ion-item *ngFor="let user of user | async">
      <ion-item (click)="updateName()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Name</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-start">{{user.firstName}} {{user.lastName}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-icon class="icon" name="create"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item (click)="updateUsername()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Username</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-start">{{user.username}}</ion-label>
            </ion-col>
            <ion-col>
              <ion-icon class="icon" name="create"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Email</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-start">{{user.email}}</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">School</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-wrap ion-text-start">{{user.schoolName}}</ion-label>

              <form [formGroup]="schoolForm">
                <ion-item (click)="getSchools()">
                  <ion-select class="myClass ion-text-wrap" formControlName="schoolName" placeholder="Change your school">
                    <ion-select-option *ngFor="let school of schools | async">
                      {{school.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button [disabled]="!schoolForm.valid" shape="round" color="success" (click)="updateSchool()">Update</ion-button>
              </form>

            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item *ngFor="let user of user | async">
      <ion-item (click)="getCourses()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label class="myClass1 ion-text-start">Course</ion-label>
            </ion-col>          
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label class="myClass2 ion-text-wrap ion-text-start">{{user.courseName}}</ion-label>
              
              <form [formGroup]="courseForm">
                <ion-item>
                  <ion-select class="myClass ion-text-wrap" formControlName="courseName" placeholder="Change your course">
                    <ion-select-option *ngFor="let course of courses | async">
                      {{course.name}}
                    </ion-select-option>
                  </ion-select>
                </ion-item>
                <ion-button [disabled]="!courseForm.valid" (click)="updateCourse()" shape="round" color="success">Update</ion-button>
              </form>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-item>

    <ion-item (click)="updatePassword()">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <ion-icon class="icon" name="create"></ion-icon>
          </ion-col>
          <ion-col>
            <ion-label class="myClass2 ion-text-start">Edit Password</ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>

</ion-content>
  
