ion-header{
    
    ion-button{
        color: white;

        ion-icon{
            font-size: 32px;
          }
    }
}

ion-content{
    --ion-background-color: var(--ion-color-myPrimaryColor);
    --ion-text-color: white;

    ion-card{
      --ion-background-color: white;
      background-color: white;
      color: black;

      ion-item{
          margin-top: 10px;

        ion-avatar{
            margin: auto;
            margin-bottom: 10px;
            width: 100px;
            height: 100px;
        }
      }

      h2{
        color: var(--ion-color-myPrimaryColor);
        font-size: x-large;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 10px;
      }

    }

    ion-item{

        ion-label{

            p{
                font-size: large;
                color: white;
                font-family: Arial, Helvetica, sans-serif;
            }
            div{
                p{
                    font-style: italic;
                    font-size: medium;
                    color: black;
                }
            }
        }
    }

    h2{
        font-family: Arial, Helvetica, sans-serif;
        color: yellow;
    }

    form{

        ion-item{

            ion-textarea{
                border: solid 2px black;
                font-family: Arial, Helvetica, sans-serif;
                font-size: large;
                max-width: 100% !important;
                background-color: white;
                display: flex;
                word-wrap: break-word;
                color: black;
                white-space: pre-line;
            }
        }
    }
}
