ion-slide{
    height: 100vh;
    flex-direction: column;
    text-align: center;
}

form{
    color: var(--ion-color-Contrast);
}

ion-button{
    margin-top: 10px;
}

ion-item{
    ion-label{
        color: white;
    }
}
