<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title>Let's set up your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="this.slides.slidePrev()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <ion-slides pager="true" [options]="{pagination: true, allowTouchMove:false}" #slides="">
    
    <ion-slide class="step-one">
      <form [formGroup]="nameForm" onsubmit="processForm(event)">
        <ion-item>
          <ion-label position="floating" color="primary">First Name</ion-label>
          <ion-input formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Last Name</ion-label>
          <ion-input formControlName="lastName" type="text"></ion-input>
        </ion-item>
      </form>
      <ion-button [disabled]="!nameForm.valid" shape="round" size="large" color="dark" (click)="[slides.slideNext(), updateName(firstName, lastName)]">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-two">
      <ion-item>
        <ion-label><h2>Select your School</h2></ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option *ngFor="let school of schools | async">
            {{school.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button shape="round" size="large" color="dark" (click)="slides.slideNext()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-three">
      <ion-item>
        <ion-label><h1>Select your Course</h1></ion-label>
        <ion-select>
          <ion-select-option *ngFor="let course of courses | async">
            {{course.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button shape="round" size="large" color="dark" (click)="slides.slideNext()">Next</ion-button>
    </ion-slide>

    <ion-slide class="step-four">
      <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button size="large" color="dark">Upload a Picture</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button size="large" color="dark">Take a Picture</ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="ion-align-items-center">
            <ion-col>
              <ion-button shape="round" size="large" color="dark" (click)="finish()">Next</ion-button>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-slide>

  </ion-slides>
  
</ion-content>