<ion-header>
  <ion-toolbar class="ion-text-center" color="dark">
    <ion-title>Let's set up your Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button (click)="this.slides.slidePrev()">
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>

  <ion-slides pager="true" [options]="{pagination: true, allowTouchMove:false}" #slides="">
    
    <!-- step one: first name and last name -->
    <ion-slide class="step-one myClass">
      <form [formGroup]="nameForm" onsubmit="processForm(event)">
        <ion-item>
          <ion-label class="myClass" position="floating" color="primary">First Name</ion-label>
          <ion-input class="myClass2" formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-label class="myClass" position="floating" color="primary">Last Name</ion-label>
          <ion-input class="myClass2" formControlName="lastName" type="text"></ion-input>
        </ion-item>
        <br>
        <br>
        <ion-label class="myClass2">Choose a username to be used across the App!</ion-label>
        <br>
        <ion-item>
          <ion-label class="myClass" position="floating" color="primary">Username</ion-label>
          <ion-input class="myClass2" formControlName="username" type="text"></ion-input>
        </ion-item>
      </form>
      <ion-button [disabled]="!nameForm.valid" shape="round" size="large" color="dark" (click)="[slides.slideNext(), updateName(firstName, lastName), updateUsername(username)]">Next</ion-button>
    </ion-slide>

    <!-- step two: choose school -->
    <ion-slide class="step-two myClass">
      <form [formGroup]="schoolForm">
        <ion-item>
          <ion-select class="myClass" formControlName="schoolName" placeholder="Select your school">
            <ion-select-option class="myAlert" *ngFor="let school of schools | async">
              <p>{{school.name}}</p>
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button [disabled]="!schoolForm.valid" shape="round" size="large" color="dark" (click)="[slides.slideNext(), updateSchool()]">Next</ion-button>
      </form>
    </ion-slide>

    <!-- step three: choose course -->
    <ion-slide class="step-three myClass ion-text-wrap">
      <form [formGroup]="courseForm">
        <ion-item>
          <ion-select class="myClass ion-text-wrap" formControlName="courseName" placeholder="Select your course">
            <ion-select-option *ngFor="let course of courses | async">
              {{course.name}}
            </ion-select-option>
          </ion-select>
        </ion-item>
        <ion-button [disabled]="!courseForm.valid" shape="round" size="large" color="dark" (click)="[finish(), updateCourse()]">Next</ion-button>
      </form>
    </ion-slide>

  </ion-slides>
  
</ion-content>