ion-menu{
    ion-content{
        --ion-background-color: var(--ion-color-myTertiaryColor);
        padding: 20px;
    }
    ion-label{
        font-size: larger;
        font-family: Helvetica;
        color: white;
    }
}
