<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-padding-horizontal ion-padding-top">Tell us what you think about our app!</p>

  <form class="ion-padding" [formGroup]="starsForm" (submit)="submitForm()">

    <ionic4-star-rating #rating 
        activeIcon = "star"
        defaultIcon = "star-outline"
        activeColor = "#d1301a"
        defaultColor = "#aaaaaa"
        readonly = "false"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)"
        formControlName="starRating">
    </ionic4-star-rating>
  </form>
  
  <form [formGroup]="feedbackForm" class="ion-padding" (submit)="submitForm()">

    <ion-item class="myClass">
      <ion-textarea (keyup)="onKeyUp($event)" rows="10" type="text" formControlName="feedback" placeholder="What do you think about the app? Where could we improve?"></ion-textarea>
    </ion-item>
    <span><em>{{500 - numberOfCharacters}} characters left</em></span>

    <ion-item lines="none" class="ion-padding-top">
      <ion-button size="large" type="submit" color="success" [disabled]="!starsForm.valid">Submit</ion-button>
    </ion-item>

  </form>

</ion-content>
