<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-title>{{chat.chatName}}</ion-title>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" #content>

  <ng-container>

    <ion-item class="msg animated zoomInUp" lines="none" *ngFor="let message of chatMessages | async; trackBy: trackByCreated;">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <div>
              <ion-avatar>
                <img [src]="message.photoURL || 'assets/avatar.png'">
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col>
            <div class="box ion-text-wrap">
              <p class="content">{{ message.content }}</p>
              <div class="myClass ion-text-end">
                <span>{{message.createdAt.toDate() | date : 'dd-MM-yyyy HH:mm'}}</span>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ng-container>

</ion-content>

<ion-footer>
  <form [formGroup]="messageForm">
    <div>
      <ion-row>
        <ion-input formControlName="message" placeholder="Enter your message here" type="text"></ion-input>
        <ion-button [disabled]="!messageForm.valid" (click)="submit()" color="success">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </ion-row>
    </div>
  </form>
</ion-footer>