<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
      <ion-title>{{chat.chatName}}</ion-title>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container>

    <!-- <div class="msg animated zoomInUp" *ngFor="let msg of chat.messages trackBy: trackByCreated;">

      <div class="user">
        <ion-avatar>
          <img [src]="msg.photoURL || 'assets/avatar.png'">
        </ion-avatar>
      </div>

      <ion-item *ngIf="chat.createdBy === profileService.uid || msg.uid === profileService.uid">
        <button color="danger" size="small" (click)="deleteMessage(chat, msg)">Delete</button>
      </ion-item>

      <div class="user ion-text-wrap">
        <p>{{ msg.content }}</p>
      </div>

    </div> -->

    <ion-item lines="none" *ngFor="let msg of chat.messages trackBy: trackByCreated;">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <div>
              <ion-avatar>
                <img [src]="msg.photoURL || 'assets/avatar.png'">
              </ion-avatar>
            </div>
          </ion-col>
          <ion-col>
            <div class="ion-text-wrap">
              <p class="msg">{{ msg.content }}</p>
            </div>
          </ion-col>
          <ion-col size="2" class="ion-align-items-end">
            <ion-button color="danger" size="small" (click)="deleteMessage(chat, msg)">
              <ion-icon name="trash"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ng-container>

</ion-content>

<ion-footer>
  <form [formGroup]="messageForm">
    <div>
      <ion-row>
        <ion-input formControlName="message" placeholder="Enter your message here" type="text"></ion-input>
        <ion-button [disabled]="!messageForm.valid" (click)="submit()" color="success">Send</ion-button>
      </ion-row>
    </div>
  </form>
</ion-footer>