ion-header{
    
    ion-button{
        color: white;

        ion-icon{
            font-size: 32px;
          }
    }
}

ion-content{
    --ion-background-color: white;

    ion-card{

        ion-card-content{

            div{

                p{
                    font-style: italic;
                    font-size: medium;
                    color: black;
                }
            }
        }
    }

    ion-item{

        p{
            font-size: medium;
            color: black;
            line-height: 1.5em;
        }

        div{

            p{
                font-style: italic;
                font-size: medium;
                color: black;
            }
        }
    }

    ion-textarea{
        border: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }

    error-message{
        color: gold;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }

    ion-button{
        margin-top: 20px;
    }
}