ion-header{
    
    ion-button{
        color: white;

        ion-icon{
            font-size: 32px;
          }
    }
}

ion-content{
    --ion-background-color: white;

    ion-item{

        p{
            font-size: medium;
            color: black;
            line-height: 1.5em;
        }
    }

    ion-textarea{
        border: solid 2px black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: large;
    }
    error-message{
        color: gold;
        font-size: larger;
        font-family: Arial, Helvetica, sans-serif;
    }
}