<ion-header>
  <ion-toolbar color="dark">
    <ion-button fill="clear" (click)="dismissModal()">
      <ion-icon slot="start" name="arrow-round-back"></ion-icon>
    </ion-button> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{topic.question}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>{{topic.description}}</strong></p><br>
      <ion-row>
        <ion-col>
          <div>
            <ion-button color="danger" fill="outline" (click)="reportTopic()">
              <ion-icon name="flag"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <p class="user" (click)="presentUserProfile(topic)">by {{topic.username}}</p>
            <p>{{topic.createdAt.toDate() | date : 'dd-MM-yyyy HH:mm'}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-item *ngFor="let reply of replies | async; trackBy: trackById">
    <ion-label class="ion-text-wrap">
      <ion-row>
        <ion-col size="10">
          <p>{{reply.reply}}</p>
        </ion-col>
        <ion-col class="ion-align-items-end">
          <ion-button color="danger" (click)="deleteReply(reply)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-button fill="outline" color="danger" (click)="reportReply(reply)">
              <ion-icon name="flag"></ion-icon>
            </ion-button>
          </div>
        </ion-col>
        <ion-col>
          <div class="ion-text-end">
            <p>by {{reply.username}}</p>
            <p>{{reply.createdAt.toDate() | date : 'dd-MM-yyyy HH:mm'}}</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <form [formGroup]="replyForm" (ngSubmit)='createReply()'>

    <ion-textarea (keyup)="onKeyUp($event)" placeholder="Write your reply here." rows="8" formControlName="reply"></ion-textarea>
    <span><em>{{350 - numberOfCharacters}} characters left</em></span>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.question">
        <div class="error-message" *ngIf="replyForm.get('reply').hasError(validation.type) && (replyForm.get('reply').dirty || replyForm.get('reply').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <label class="error-message">{{errorMessage}}</label>

    <ion-button [disabled]="replyForm.invalid" type="submit">Post</ion-button>

  </form>

</ion-content>
