<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
      <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none" *ngFor="let user of user | async">
    <ion-label>
      <h1 class="ion-text-center ion-text-wrap">Welcome {{user.firstName}}!</h1>
      <br>
      <br>
      <p class="ion-text-center">{{getDate | date:'EEEE dd MMMM yyyy'}}</p>
    </ion-label>
  </ion-item>

  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-button *ngIf="student" routerLink="/tutor" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="search"></ion-icon><br>
            <label>Find a Tutor</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="student" routerLink="/contact" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="school"></ion-icon><br>
            <label>Be a Tutor</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button *ngIf="student" routerLink="/forum" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="list-box"></ion-icon>
            <label>Forum</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="student" routerLink="/my-tutors" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="time"></ion-icon><br>
            <label>My Tutors</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="student" routerLink="/feedback" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="thumbs-up"></ion-icon>
            <label>Feedback</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button *ngIf="tutor" routerLink="/messages" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="text"></ion-icon>
            <label>Student Chats</label>
            <div class="ion-padding-top">
              <ion-badge class="badge" color="danger" slot="middle">{{chatsNumber}}</ion-badge>
            </div>
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button *ngIf="tutor" routerLink="/tutor-reviews" class="ion-focused ion-text-wrap">
          <div>
            <ion-icon name="star-outline"></ion-icon>
            <label>Reviews</label>
            <div class="ion-padding-top">
              <ion-badge class="badge" color="danger" slot="middle">{{reviewsNumber}}</ion-badge>
            </div>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
