ion-content {
  --ion-background-color: var(--ion-color-myPrimaryColor);
  --ion-text-color: white;

  ion-searchbar {
    color: white;
  }

  ion-card {
    --ion-background-color: white;
    background-color: white;
    color: black;
    width: 100%;

  }
}